{% include 'defaults/head4.html' %}
</head>
<body class="body2">
    <div class="container form-container">
        <div class="contenedor-adm justify-content-center">
            <h2 class="text-center mb-4">{{title[0]}}</h2>
            <div class="form-producto bg justify-content-center">
            <!-- <div class="bg justify-content-center"> -->
                <div class="mb-3 item-adm">
                    <li class="list-group-item">
                        <a href="/administrador" class="link-adm">ABM Productos Congelados</a>
                    </li>
                </div>
                <div class="mb-3 item-adm">
                    <li class="list-group-item">
                        <a href="/restaurants" class="link-adm">ABM Restaurantes</a>
                    </li>
                </div>
                <div class="mb-3 item-adm">
                    <li class="list-group-item">
                        <a href="/contactoABM" class="link-adm">Envíos de Formulario de Contacto</a>
                    </li>
                </div>
                <div class="mb-3 item-adm">
                    <li class="list-group-item">
                        <a href="#" class="link-adm">ABM Información (Próximamente)</a>
                    </li>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

    <!-- <body class="body2">
        <div class="container form-container">
            <div class="contenedor-adm justify-content-center">
                <h2 class="text-center mb-4">{{title[0]}}</h2>
                <div class=" bg justify-content-center">
                    <div>
                        <div class="mb-3">
                            <li class="list-group-item">
                                <a href="/administrador">ABM Productos (Próximamente)</a>
                            </li>
                        </div>
                    </div>
                        <div class="mb-3">
                            <li class="list-group-item">
                                <a href="/restaurants">ABM Restaurantes</a>
                            </li>
                        </div>
                        <div class="mb-3">
                            <li class="list-group-item">
                                <a href="/contactoABM">Envíos de Formulario de Contacto</a>
                            </li>
                        </div>
                        <div class="mb-3"> 
                            <li class="list-group-item">
                                <a href="#">ABM Información (Próximamente)</a>
                            </li>
                        </div>
                </div>
            </div>
        </div> -->
        
            <!-- <div class="contenedor-adm justify-content-center">
                <h2 class="text-center mb-4">{{title[0]}}</h2>
                <div class=" bg justify-content-center"> -->
                <!-- <ul class="form-adm list-group">
                    <div class="mb-3">
                        <li class="list-group-item">
                            <a href="/administrador">ABM Productos (Próximamente)</a>
                        </li>
                    </div>
                    <div class="mb-3">
                        <li class="list-group-item">
                            <a href="/restaurants">ABM Restaurantes</a>
                        </li>
                    </div>
                    <div class="mb-3">
                        <li class="list-group-item">
                            <a href="/contactoABM">Envíos de Formulario de Contacto</a>
                        </li>
                    </div>
                    <div class="mb-3"> 
                        <li class="list-group-item">
                            <a href="#">ABM Información (Próximamente)</a>
                        </li>
                    </div>    
                </ul>
                </div>
            </div>
            </div> -->
        </body>
    {% include 'defaults/footer2.html' %}